---
import ContextProvider from '../components/ContextProvider'
import Scoller from '../components/Scroller'
---

<main class="h-screen w-screen min-w-[320px] overflow-hidden">
	<ContextProvider client:load>
		<Scoller client:idle/>
	</ContextProvider>
</main>

<style></style>

<script>
</script>
